.header-info__menu {
    background: linear-gradient(to bottom, #DEEDE6, #EBEAD8, #DEEDE6);
    width: calc(100% - 60px);
    height: 130px;
    padding: 0 0 0 60px;
}

.header-info__logo a {
    font-size: 30px;
    font-weight: 800;
    color: rgb(15, 158, 15);
    text-decoration: none;
    background: -webkit-linear-gradient(#47ebe8, #09AEAC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-info__navbar {
    width: 800px;
    transform: translateX(20%)
}

.header-info__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.header-info__item {
    width: 100%;
    display: inline;
    margin: 0 30px;
}

.header-info__link {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.header-info__link:hover {
    color: #149696;
}