/* Container */
.left-side-container {
    background: linear-gradient(to bottom, var(--gradient-green), var(--gradient-pink));
    width: 15%;
    height: 100%;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.left-side-logo-container {
    margin-bottom: 10px;
}

.left-side-logo__img {
    width: 110px;
    height: 40px;
}

/* Profile*/
.left-side-profile {
    padding-bottom: 10px;
    position: relative;
}

.left-side-profile__title {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}


.left-side-profile__post,
.left-side-profile__analytics,
.left-side-profile__award,
.left-side-profile__feedback,
.left-side-profile__help,
.left-side-profile__setting {
    margin: 15px 0;
    font-weight: 500;
}

.left-side-profile__post-link,
.left-side-profile__analytics-link,
.left-side-profile__award-link,
.left-side-profile__feedback-link,
.left-side-profile__help-link,
.left-side-profile__setting-link {
    text-decoration: none;
    color: var(--color-text);
}

/* Profile */
.left-side-profile {
    position: relative;
    color: var(--color-text);
}

.left-side-profile__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px 0;
    background-image: url("../../assets/images/girl1.jpg");
    background-size: cover;
    background-position: center;
    transform: translateX(100%);
}

.left-side-profile__name {
    font-size: 15px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px; 
    text-align: center;
    width: 100%;
    word-break: break-word;
}

.left-side-profile__personal-page-link {
    text-decoration: none;
    color: #983959;
    width: 100%;
}

.left-side-profile::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 150px;
    height: 3px;
    background-color: rgb(99, 96, 96);
    border-radius: 10px;
}

.left-side-profile a:hover {
    color: #149696;
}

/* Info Part */
.left-side-info {
    margin-top: 10px;
}

.left-side-info a {
    font-size: 12px;
    text-decoration: none;
    color: var(--color-text);
    font-weight: 600;
}

.left-side-info a:hover {
    color: #149696;
}

.left-side-info__company {
    margin-top: 10px;
    color: var(--color-text);
    font-weight: 700;
    font-size: 13px;
}