/* Container */
.central-content-container {
    width: 72%;
    background-image: linear-gradient(to bottom, #BBD8C3, #F3D6DA);
    position: absolute;
    top: 0;
    left: 11%;
    padding: 10px 10px;
}

/* Header */
.central-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.central-content-greeting__big-text {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.central-content-greeting__small-text {
    font-size: 14px;
    font-weight: 500;
}

.central-content-greeting__small-text i{
    color: rgb(10, 190, 181);
    margin-left: 5px;
}

.central-content-search {
    margin-right: 10px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    height: 35px;
    display: flex;
}

.central-content-search__btn {
    border: none;
    background-color: #fff;
    color: #333;
    padding: 8px;
    cursor: pointer;
}

.central-content-search input {
    border: none;
    line-height: 30px;
    outline: none;
    width: 200px;
}

/* Explore */
.central-content-explore {
    display: flex;
    margin: 10px 0 15px;
}

.central-content-explore__key-word {
    background-image: linear-gradient(-45deg, #e28a37, #d8d527, #e28a37);
    border-radius: 5px;
    padding: 20px 10px;
    margin-right: 20px;
    width: 270px;
}

.central-content-explore__key-word-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.central-content-explore__key-word span{
    font-size: 15px;
}

.central-content-explore__hot-authors {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to bottom, #86859C,#97C4C9);
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 350px;
}

.central-content-explore__hot-authors-title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.central-content-explore__hot-authors-img {
    width: 70px;
    height: 70px;
    background-image: url("../../assets/images/girl2.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.central-content-explore__hot-authors-name {
    font-size: 15px;
    font-weight: 700;
    margin: 5px 0;
}

.central-content-explore__hot-authors-views {
    font-size: 14px;
    font-weight: 500;
}

.central-content-explore__hot-authors-views i{
    font-size: 14px;
    margin-right: 5px;
}

/* Main Content */
.central-content-main-content {
    margin-right: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 10px 20px;
    position: relative;
}

.central-content-main-content::before {
    content: "";
    width: 800px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 12%;
    background-color: #7f8c8d;
    border-radius: 10px;
}

.central-content-main-content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.central-content-main-content__header-container {
    width: 80%;
}

.central-content-main-content__header-title {
    display: flex;
    align-items: center;
}

.central-content-main-content__header-title-img {
    width: 50px;
    height: 50px;
    background-image: url("../../assets/images/girl3.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.central-content-main-content__avatar {
    width: 200px;
    height: 200px;
    background-image: url("../../assets/images/girl4.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.central-content-main-content__header-title-name {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.central-content-main-content__header-title-time {
    color: rgb(94, 92, 92);
    font-size: 13px;
    font-style: italic;
    margin-right: 10px;
}

.central-content-main-content__header-title-btn {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.central-content-main-content__header-title-icon {
    color: #718093;
    font-size: 15px;
}

.central-content-main-content__header-content-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
    visibility: visible;
    text-overflow: ellipsis;
  	overflow: hidden;
    margin: 10px 0;
}

.central-content-main-content__header-content-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
    visibility: visible;
    text-overflow: ellipsis;
  	overflow: hidden;
}

.central-content-main-content__footer {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.central-content-main-content__footer-views,
.central-content-main-content__footer-comments,
.central-content-main-content__footer-share,
.central-content-main-content__footer-audio {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.central-content-main-content__footer-views i,
.central-content-main-content__footer-comments i,
.central-content-main-content__footer-share i,
.central-content-main-content__footer-audio i {
    color: gray;
    font-size: 20px;
    margin-right: 10px;
}

.central-content-main-content__footer-share,
.central-content-main-content__footer-audio {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
